@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Phudu:wght@300&display=swap');
* {
    font-family: Montserrat;
 }
 body {
    display: flex;
    flex-direction: column;
    width:320px;
    height: auto;
    flex-shrink: 0;
  }
      header {
        display: flex;
        height: 56px;
        padding: 0 16px;
        border-bottom: 1px solid #dbd9d9;
      }
          .header__con {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
          }
              .header__con_logo {
                display: block;
              }
              .header__logo_log {
                  height: 36px;
                  width: 51px;
              }
              .header__con_button {
                width: 40px;
                height: 40px;
                flex-shrink: 0;
                border: 1px solid #FFF;
                background-color: #fff;
              }
                  .header__con_button:hover 
                    .header__con_button_svg {
                      transform: scale(1.2);
                      transition: 0.5s;
                      cursor: pointer;
                    }
          .header__con2 {
            display: none;
          }
              .header__con2_nav_list {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 30px;
                list-style-type: none;
              }
                  .header__con2_nav_list_link1_a,
                  .header__con2_nav_list_link2_a,
                  .header__con2_nav_list_link3_a,
                  .header__con2_nav_list_link4_a,
                  .header__con2_nav_list_link5_d_btn,
                  .header__con2_nav_list_link6_a  {
                    display: block;
                    color: var(--text-primary, #333);
                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 114%; 
                    letter-spacing: 0.25px;
                    text-decoration: none;
                  }
                    .header__con2_nav_list_link5_d_btn {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      gap: 8px;
                      border-width: 0px;
                      background-color: transparent;                  
                    }
                        .header__con2_nav_list_link1_a:hover,
                        .header__con2_nav_list_link2_a:hover,
                        .header__con2_nav_list_link3_a:hover,
                        .header__con2_nav_list_link4_a:hover,
                        .header__con2_nav_list_link5_d_btn:hover,
                        .header__con2_nav_list_link6_a:hover {
                          color:#16C8BB;
                          cursor: pointer;
                        } 
                        .header__con2_nav_list_link5_d_btn:hover  
                        .header__con2_nav_list_link5_d_btn_svg
                          path {
                            color: #16C8BB;
                            stroke: #16C8BB;
                        }
                        .header__con2_nav_list_link5_d_btn:active 
                          .header__con2_nav_list_link5_d_btn_svg {
                            transform: rotate(180deg);
                        }
                .header__con2_btn {
                  display: inline-flex;
                  padding: 14px 20px;
                  align-items: center;
                  gap: 10px;
                  border: 1px #E3F5F5;
                  border-radius: 4px;
                  background: #E3F5F5;
                  color: var(--main-03-b-2-a-5, #03B2A5);
                  text-align: center;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                }
                .header__con2_btn:hover {
                  background-color: #a1cecb;
                  cursor: pointer;
                }
        .header__nav {
          display: flex;
          list-style: none;
          gap: 30px;
        }
        .header__link {
          color: var(--text-primary, #333);
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 114%;
          letter-spacing: 0.25px;
          text-decoration: none;
        }
        .header__btn {
          padding: 14px 20px;
          align-items: center;
          gap: 10px;
          border-radius: 4px;
          border-color:#E3F5F5;
          background: #E3F5F5;
          color: var(--main-03-b-2-a-5, #03B2A5);
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
  
    main {
      display: flex;
      flex-direction: column;
      padding: 0 16px;;
      gap: 16px
    }
        .main__svg {
          display: none;
        }
        .main__podnavi {
          display: inline-flex;
          justify-content: start;
          gap: 8px;
        }
            .main__podnavi_1,
            .main__podnavi_2 {
              display: flex;
              align-items: center;
              gap: 4px;
            }
                .main__podnavi_1_1,
                .main__podnavi_2_1 {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 16px;
                  height: 16px;
                }
                .main__podnavi_1:hover,
                .main__podnavi_2:hover {
                  color: #2963A3;
                  text-decoration: underline;
                }
            .main__podnavi_1,
            .main__podnavi_2,
            .main__podnavi_p {
              color: rgba(51, 51, 51, 0.70);
              text-align: center;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px;
              letter-spacing: 0.25px;
              text-decoration: none;
            }
            .main__podnavi_p {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
    .main__title {     
      display: flex;
      flex-direction: column;
      gap: 8px; 
    }
        .main__title_h {
          color: var(--text-primary, #333);
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px; 
        }
        .main__title_avtor,
        .main__title_avtor_ssilka {
          display: inline-flex;
          align-items: flex-start;
          gap: 8px;
          color: #494949;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; 
        }
        .main__title_avtor_silka {
          color: #2963A3;
          text-decoration: none;
         }
         .main__title_avtor_silka:hover {
          transform: scale(1.3);
          transition: 0.5s;
          text-decoration: underline;
         }
    .main__img {
      width: auto;
      height: 160px;
    }
    .main__maintanance {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
        .main__maintenance_h {
          color: var(--text-primary, #333);
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
        }
        .main__maintenance_list {
          display: flex;
          flex-direction: column;
          color: #333;
          gap: 8px;
        }
            .main__maintenance_list_item1,
            .main__maintenance_list_item2_1,
            .main__maintenance_list_item3,
            .main__maintenance_list_item4 {
              display: flex;
              align-items: start;
              gap: 8px;
              align-self: stretch;
              flex: 1 0 0;
              color: #333;
              text-decoration-line: underline;
            }
                .main__maintenance_list_item1_svg {
                  flex-shrink: 0;
                  width: 24px;
                  height: 24px;
                }
            .main__maintenance_list_item2,
            .main__maintenance_list_item3  {
              display: none;
            }
         
    .main__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
    .main__coment {
      display: block;
      padding: 16px;
      border-radius: 16px;
      background-color: #F3F7FE;
    }
        .main__coment_img {
          z-index: 1;
          top: 0px;
          left: 0px;
          width: 22.639px;
          height: 36px;
          flex-shrink: 0;
        }
        .main__coment_text {
          position: relative;
          top: -30px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
        }
            .main__coment_text_1 {
              z-index: 2;
              color: var(--text-primary, #333);
              font-size: 16px;
              font-style: italic;
              font-weight: 400;
              line-height: 24px; 
            }
            .main__coment_text_2 {
              color: var(--text-primary, #333);
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
            }
    .main__whatels {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
        .main__whatels_item1,
        .main__whatels_item2 {
          display: flex;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;
        }
          .main__whatels_item1_svg {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
          }
    .main__whatelsimg {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
        .main__whatelsimg_img {
          width: 288px;
        }
        .main__whatelsimg_text {
          align-self: stretch;
          color: #868686;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          letter-spacing: 0.25px;
        }
    .main2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      flex-shrink: 0;
     }
        .main2_text {
          align-self: stretch;
          color: var(--text-primary, #333); 
        }
        .main2__posc {
          display:block;
          width: 288px;
          height: 168px;
        }
              .main2__posc_svg {
                position: relative;
                z-index: 1;
                flex-shrink: 0;
              }
              .main2__posc_text {
                position: relative;
                top: -168px;
                left: 0px;
                z-index: 2;
                color: var(--text-primary, #333);
                text-align: center;
                font-size: 16px;
                font-style: italic;
                font-weight: 400;
                line-height: 24px
              }
        .main2__text2 {
          align-self: stretch;
        }
        .main2__textblog {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          align-self: stretch; 
        }
            .main2__textblog_img {
              width: auto;
              height: 380px;
              align-self: stretch;
              background-image: url(images/png/woomaninhat.png);
              background-size: cover;
              background-repeat: no-repeat;
            }
            .main2__textblog_text {
              align-self: stretch;
            }
        .main2__exercize1,
        .main2__exercize2,
        .main2__exercize3 {
          display: flex;
          padding: 16px;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;
          border-radius: 16px;
        }
        .main2__exercize1 {
          background: var(--status-yellowe-white, #FEFAEC);
        }
        .main2__exercize2 {
          background: var(--status-orange-white, #FFF3EB);
        }
        .main2__exercize3 {
          background: rgba(3, 178, 165, 0.10);
        }
            .main2__exercize1_h,
            .main2__exercize2_h,
            .main2__exercize3_h {
              color: var(--text-primary, #333);
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px;
            }
            .main2__exercize1_p,
            .main2__exercize2_p,
            .main2__exercize3_p {
              color: var(--text-primary, #333);
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px; 
            }
        .main2__text4 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;
        }
            .main2__text4_h {
              align-self: stretch;
            }
            .main2__text4_1,
            .main2__text4_2 {
              display: flex;
              align-items: flex-start;
              gap: 8px;
              align-self: stretch;
              flex: 1 0 0;
              color: var(--text-primary, #333);
            }
            .main2__text4_svg {
              width: 24px;
              height: 24px;
              flex-shrink: 0;
            }
        .main2__textblog2 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          align-self: stretch;
        }
        .main2__textblog2_img {
          width: 288px;
          height: 160px;
          background-image: url(images/png/Rectangle.png);
          background-repeat: no-repeat;
          background-size: cover;
        }
        .main2__textblog3 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          align-self: stretch;  
        }
            .main2__textblog3_1,
            .main2__textblog3_2 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 8px;
              align-self: stretch;
            }
                .main2__textblog3_2_img,
                .main2__textblog3_1_img {
                  width: 288px;
                  height: 235px;
                  background-repeat: no-repeat;
                  background-size: cover;
                }
                .main2__textblog3_1_img {
                  background-image: url(images/png/chair.png);
                }
                .main2__textblog3_2_img {
                  background-image: url(images/png/look.png);
                }
        .main2_logo {
          display: flex;
          justify-content: start;
        }
        .main2__links {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            color: #2963A3;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            text-decoration: none;
          }
    .main__maintenance_list_item1,
    .main__maintenance_list_item2,
    .main__maintenance_list_item3,
    .main__maintenance_list_item4,
    .main__info_go_1,
    .main__info_go_2,
    .main__whatels_item1,
    .main__whatels_item2,
    .main2_text,
    .main2__text2,
    .main2__textblog_text,
    .main2__textblog2_text,
    .main2__textblog3_1_text,
    .main2__textblog3_2_text,
    .main2__text3,
    .main2__text4_1,
    .main2__text4_2,
    .main2__exercize1_p,
    .main2__exercize2_p,
    .main2__exercize3_p,
    .main2__text5,
    .main2__text6 {
      color:  #333;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
    .main__info_h,
    .main__whatels_title,
    .main2__text4_h {
      color: var(--text-primary, #333);
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
    }
        .main__line {
          display: none;
        }
    .main3 {
      display: none;
    }
    .svg__bottom {
      display: none;
    }
    .sidebar {
      display: flex;
      flex-direction: column;
      height: auto;
      margin-top: 16px;
      padding: 0px 16px;
      gap: 24px;
    }
        .sidebar__1 {
          display: block;
          width: 288px;
          height: 512px;
          flex-shrink: 0;
          border-radius: 16px;
          background: var(--blue-b-95, #E6F0FD);
        } 
            .sidebar__1_svg1 {
              position: relative;
              top: 24px;
              left: 68px;
              z-index: 1;
            }
            .sidebar__1_svg2 {
              position: relative;
              top: -52px;
              left: 32px;
              z-index: 1;
            }
            .sidebar__1_info {
              position: relative;
              top: -237px;
              left: 24px;
              z-index: 3;
              display: flex;
              width: 239px;
              flex-direction: column;
              align-items: center;
              gap: 24px;
            }
                .sidebar__1_info_text {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 8px;
                  width: 239px;
                }
                    .sidebar__1_info_text_h {
                      flex-shrink: 0;
                      color: var(--text-primary, #333);
                      text-align: center;
                      font-size: 18px;
                      font-style: normal;
                      font-weight: 700;
                      line-height: 24px;
                    }
                    .sidebar__1_info_text_p {
                      color: var(--text-primary, #333);
                      text-align: center;
                      font-size: 14px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 20px; 
                    }
                .sidebar__1_info_button {
                  display: flex;
                  width: 239px;
                  height: max-content;
                  padding: 12px 16px;
                  justify-content: center;
                  align-items: center;
                  gap: 8px;
                  border:  1px solid #35B3A9;
                  border-radius: 4px;
                  background:  #35B3A9;
                  color: #FFF;
                  text-align: center;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 24px;
                }
        .sidebar__2 {
          display: flex;
          padding: 24px;
          flex-direction: column;
          align-items: center;
          gap: 16px;
          border-radius: 16px;
          border: 1px solid #DEDEDE;
          background: #FFF;
        }
            .sidebar__2_img {
              display: flex;
              flex-direction: row;
              justify-content: start;
              width: 240px;
            }
                .sidebar__2_img_svg {
                  position: relative;
                  top: -10px;
                  left: -10px;
                  display: inline-flex;
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 8px;
                  z-index: 2;
                }
                    .sidebar__2_img_svg_1,
                    .sidebar__2_img_svg_2 {
                      display: flex;
                      padding: 0px 6px;
                      align-items: center;
                      gap: 4px;
                      flex-shrink: 0;
                      border-radius: 6px;
                      background: rgba(243, 244, 248, 0.70);
                      color: var(--text-primary, #333);
                      font-size: 12px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: 18px;
                      letter-spacing: 0.25px;
                    }
                        .sidebar__2_img_svg_2_img {
                          width: 16px;
                          height: 24px;
                        }
                .sidebar__2_img_img {
                  position: relative;
                  left: -45px;
                  z-index: 1;
                  border-radius: 100px;
                }
            .sidebar__2_text {
              display: flex;
              width: auto;
              flex-direction: column;
              align-items: center;
              gap: 16px;
              justify-content: center;
            } 
                .sidebar__2_text_name {
                  display: flex;
                  flex-direction: column;
                  gap: 4px;
                }
                    .sidebar__2_text_name_1 {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      align-self: stretch;
                    }
                        .sidebar__2_text_name_1_1 {
                          color: var(--text-primary, #333);
                          text-align: center;
                          font-size: 20px;
                          font-style: normal;
                          font-weight: 700;
                          line-height: 28px;
                        }
                        .sidebar__2_text_name_1_2 {
                          align-self: stretch;
                          color: var(--text-primary, #333);
                          text-align: center;
                          font-size: 16px;
                          font-style: normal;
                          font-weight: 600;
                          line-height: 24px;
                        }
                    .sidebar__2_text_name_2 {
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      gap: 8px;
                      align-self: stretch;
                    }
                        .sidebar__2_text_name_2_1,
                        .sidebar__2_text_name_2_2 {
                          color: var(--neutrals-n-66, #A2A7B1);
                          font-size: 14px;
                          font-style: normal;
                          font-weight: 500;
                          line-height: 20px; 
                        }
                .sidebar__2_text_info {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  gap: 8px;
                  align-self: stretch;
                } 
                    .sidebar__2_text_info_h {
                      color: var(--text-primary, #333);
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 700;
                      line-height: 24px;
                    }
                    .sidebar__2_text_info_1,
                    .sidebar__2_text_info_2,
                    .sidebar__2_text_info_3 {
                      display: flex;
                      align-items: start;
                      justify-content: start;
                      gap: 4px;
                      align-self: stretch;
                      color: var(--text-primary, #333);
                      font-size: 14px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 20px; 
                    }
                    .sidebar__2_text_info_svg {
                      width: 20px;
                      height: 20px;
                      flex-shrink: 0;
                    }
                .sidebar__2_text_button {
                  display: flex;
                  padding: 12px 16px;
                  justify-content: center;
                  align-items: center;
                  gap: 8px;
                  align-self: stretch;
                  border: #35B3A9 ;
                  border-radius: 4px;
                  background: var(--primary-400, #35B3A9);
                }
                    .sidebar__2_text_button_text {
                      color: #FFF;
                      text-align: center;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 700;
                      line-height: 24px;
                    }
      .sidebar__3 {
        display: flex;
        flex-direction: column;
        border-radius: 16px;
        height: 292px;
        background-color:  #2963a3;
        overflow: hidden;
      }
          .sidebar__3_text {
            display:flex;
            height: 192px;
            align-items: center;
            justify-content: center;
            background-image: url(images/png/korob.png);
            background-size: cover;
            box-shadow: inset 0px 50px 40px -30px  white;
          }
              .sidebar__3_text_p {
                position: relative;
                top: 30px;
                color: #fff;
                font-size: 32px;
                font-style: normal;
                font-weight: 700;
                line-height: 50px;
              }
          .sidebar__3_img {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
          }
              .sidebar__3_img_1 {
                position: relative;
                z-index: 2;
                left: 35px;
                bottom: -25px;
                flex-shrink: 0;
                width: 128px;
                height: 166px;
                transform: rotate(90deg);
              }
              .sidebar__3_img_2 {
                position: relative;
                z-index: 1;
                left: 15px;
                bottom: -25px;
                width: 190px;
                height: 181px;
                flex-shrink: 0;
              }
              .sidebar__3_img_3 {
                position: relative;
                z-index: 2;
                width: 90px;
                height: 136px;
                transform: rotate(-90deg);
                flex-shrink: 0;
                left: -70px;
                bottom: -30px;
              }
      .sidebar__4 {
        display: flex;
        flex-direction: column;
        height: 220px;
        padding: 16px;
        border-radius: 24px;
        border: 1px solid #DEDEDE;
        background: #FFF;
        overflow: hidden;
      }
          .sidebar__4_img {
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: end;
            position: relative;
            top: -65px;
          }
              .sidebar__4_img_img1 {
                position: relative;
                z-index: 1;
                width: 86px;
                height: 82px;
                flex-shrink: 0;
                left: 80px;
              }
              .sidebar__4_img_img2 {
                position: relative;
                z-index: 2;
                width: 105px;
                height: 94px;
                flex-shrink: 0;
                left: 15px;
                bottom: -25px;
              }
          .sidebar__4_block {
            z-index: 3;
            display: flex;
            width: 254px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
          }
              .sidebar__4_block_h {
                display: flex;
                align-items: flex-end;
                gap: 4px;
              }
                  .sidebar__4_block_h_1 {
                    width: 17px;
                    color: #2963A3;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px; 
                  }
                  .sidebar__4_block_h_2 {
                    color: #2963A3;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 26px; 
                  }
              .sidebar__4_block_text1 {
                align-self: stretch;
                color: var(--primery-b-10, #011632);
                font-family: Open Sans !important;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; 
              }
              .sidebar__4_block_text2 {
                color: #333;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 32px; 
              }
              .sidebar__4_block_button {
                display: flex;
                width: 108px;
                padding: 12px 16px;
                justify-content: center;
                align-items: center;
                gap: 8px;
                border: #35B3A9;
                border-radius: 4px;
                background-color: #35B3A9; 
              }
                  .sidebar__4_block_button_text {
                    color: #FFF;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px; 
                  }
        .sidebar__1_info_button:hover,
        .sidebar__2_text_button:hover,
        .sidebar__4_block_button:hover,
        .main3__text_button:hover {
          background-color: #059b91;
          cursor: pointer;
        }
    footer {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      background: #2963A3;
      padding: 35px 14px 35px 18px;
      gap: 20px;
      margin-top: 50px;
     }
        .footer__blok {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 23px;
          flex-shrink: 0;
        }
           .footer__blok_links {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              align-self: stretch;
           }
           .footer__blok_links_1,
           .footer__blok_links_2 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
           }
              .footer__blok_links_1_link1,
              .footer__blok_links_1_link2,
              .footer__blok_links_1_link3,
              .footer__blok_links_1_link4,
              .footer__blok_links_1_link5,
              .footer__blok_links_2_link1,
              .footer__blok_links_2_link2,
              .footer__blok_links_2_link3,
              .footer__blok_links_2_link4,
              .footer__blok_links_2_link5 {
                color: #FFF;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                text-decoration: none;
              }
              .footer__blok_links_1_link1:hover,
              .footer__blok_links_1_link2:hover,
              .footer__blok_links_1_link3:hover,
              .footer__blok_links_1_link4:hover,
              .footer__blok_links_1_link5:hover,
              .footer__blok_links_2_link1:hover,
              .footer__blok_links_2_link2:hover,
              .footer__blok_links_2_link3:hover,
              .footer__blok_links_2_link4:hover,
              .footer__blok_links_2_link5:hover {
                color: #ccc7c7;
              } 
           .footer__blok_mail {
            display: flex;
            padding-bottom: 0px;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            flex-shrink: 0;
            align-self: stretch;
            
           }  .footer__blok_mail_e-mail {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                align-self: stretch;
              }
                 .footer__blok_mail_e-mail_h {
                  color: #FFF;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 26px; 
                 }
      
                 .footer__blok_mail_e-mail_input {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 272px;
                  height: 48px;
                  border-radius: 4px;
                  background: #FFF;
                 }
                    .footer__blok_mail_e-mail_input_put {
                      position: relative;
                      width: 220px;
                      z-index: 2;
                      left: 16px;
                      opacity: 0,1;
                      outline:none;
                      background-color: transparent;
                      border:1px solid transparent;
                      color: var(--text-secondary, #818080);
                      font-size: 14px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: 20px; 
                    }
                    .footer__blok_mail_e-mail_input_button {
                      display: none;
                      
                    }
             .footer__blok_mail_p {
              align-self: stretch;
              color: #FFF;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px; 
              letter-spacing: 0.25px;
              opacity: 0.7;
             }
           .footer__blok_social {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;          
           }
              .footer__blok_social_links {
                display: flex;
                align-items: start;
                gap: 16px;
              }
                 .footer__blok_social_links_vk,
                 .footer__blok_social_links_tel,
                 .footer__blok_social_links_twit,
                 .footer__blok_social_links_kakayato {
                  display: flex;
                  width: 32px;
                  height: 32px;
                  align-items: center;
                  justify-content: center;
                  flex-shrink: 0;
                  border-radius: 60px;
                  background: #EFF5FB;
                 }
                    .footer__blok_social_links_vk_1 {
                      align-self: center;
                    }
                    .footer__blok_social_links_vk:hover,
                    .footer__blok_social_links_tel:hover,
                    .footer__blok_social_links_twit:hover,
                    .footer__blok_social_links_kakayato:hover {
                      transform: scale(1.5);
                      transition: 0.5s;
                    } 
         .footer__line {
          margin-top: 24px;
          width: inherit;
          height: 1px;
          flex-shrink: 0;
          opacity: 0.3;
          background: var(--text-grey, #9D9D9D);
         } 
         .footer__info {
          display:flex;
          flex-wrap: wrap;
          flex-direction: column;
          gap: 20px;  
         }    
            .footer__info_1,
            .footer__info_2,
            .footer__info_3 {
              color: #FFF;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
              opacity: 0.7;
              text-decoration: none;
            }    
            .footer__info_1:hover,
            .footer__info_2:hover,
            .footer__info_3:hover {
              color: #ccc7c7;
            } 
@media  screen and (min-width:414px)  {
  .footer__blok_mail_e-mail_input_button {
      display: inline-flex;
      height: 48px;
      padding: 14px 20px;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border: 1px solid #16C8BB;
      border-radius: 4px;
      background: #16C8BB;
  }
    .footer__blok_mail_e-mail_input_button:hover {
        background: #059b91;
        cursor: pointer;
    }
}
@media screen and (min-width:414px)   {
  body {
    width: 414px;
  }
      header {
        padding: 0px 24px;
        height: 72px;
      }
      main {
        padding: 0px 20px;
      }
          .main__title_h  {
            flex-shrink: 0;
            font-size: 32px;
            line-height: 40px;
          }
          .main__img {
            width: auto;
            height: 207px;
          }
          .main__coment_img {
            width: 30.245px;
            height: 36px;
            flex-shrink: 0;
          }
          .main__info_h,
          .main__whatels_title,
          .main2__text4_h {
            color: var(--text-primary, #333);
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
          }
            .main__whatelsimg_img {
              width: 374px;
      }
      .main2 {
        gap: 24px;
      }
      .main2__textblog_img {
        width: auto;
        height: 380px;
        align-self: stretch;
      }
      .main2__textblog2_img {
        width: 374px;
        height: 207px;
      }
      .main2__textblog3 {
        gap: 24px;
      }
      .main2__textblog3_1,
      .main2__textblog3_2 {
         gap: 16px;
      }
          .main2__textblog3_2_img,
          .main2__textblog3_1_img {
            width: 374px;
            height: 235px;
          }
      .sidebar {
        margin-top: 56px;
        padding: 0px 20px;
        gap: 24px;
      } 
          .sidebar__1 {
            width: auto;
            height: 512px;
          } 
              .sidebar__1_svg1 {
                top: 24px;
                left: 100px;
              }
              .sidebar__1_svg2 {
                top: 95px;
                left: -95px;
              } 
              .sidebar__1_info {
                top: -90px;
                width: 310px;
                gap: 24px;
              } 
                  .sidebar__1_info_text {
                    width: auto;
                  }
                  .sidebar__1_info_button  {
                    width: 310px;
                  }
          .sidebar__2 {
            width: auto;
          } 
              .sidebar__2_img_svg {
                left: -40px;
              }
          .sidebar__3 {
            width: 374px;
          }
          .sidebar__4 {
            width: auto;
            height: 200px;
            flex-shrink: 0;
            padding: 24px;
          }
              .sidebar__4_img {
                top: -75px;
              }
                  .sidebar__4_img_img1 {
                    width: 112px;
                    height: 106px;
                    flex-shrink: 0;
                    left: 90px;
                  }
                  .sidebar__4_img_img2 {
                    width: 137px;
                    height: 121px;
                    flex-shrink: 0;
                    left: 15px;
                    bottom: -25px;
                  }
              .sidebar__4_block {
                width: 326px;
                height: 200px;
              }
    footer {
      padding: 35px 20px 35px 19px;
    }
      .footer__blok_mail_e-mail_input {
        width: 375px;
      }
        .footer__blok_mail_e-mail_input_put {
          width: 307px;
        }
}
@media screen and (min-width:768px)  {
  body {
     width: 768px;
  }
  header {
    padding: 0px 20px;
    height: 76px;
  }
  main {
    padding: 0px 20px;
  }
      .main__title_h {
        font-size: 48px;
        line-height: 56px;
      }
      .main__img {
        width: 714px;
        height: 331px;
      }
          .main__coment__img {
            width: 60.136px;
            height: 36px;
            flex-shrink: 0;
          }
          .main__whatelsimg_img {
            width: auto;
            height: 331px;
            align-self: stretch;
          }
          .main2__posc_text {
            width: 485px;
            left: -100px;
            top: -140px;
          }
      .main2__textblog  {
        flex-direction: row;
      }
          .main2__textblog_img {
            width: 294px;
            height: 380px;
          }
          .main2__textblog_text {
            height: 380px;
            flex: 1 0 0;
          }
      .main2__textblog2 {
        flex-direction: row;
      }
          .main2__textblog2_img {
            width: 294px;
            height: 182px;
          }
          .main2__textblog2_text {
            flex: 1 0 0;
          }
      .main2__textblog3 {
        flex-direction: row;
        gap: 16px;
      }
          .main2__textblog3_1,
          .main2__textblog3_2 {
             gap: 24px;
          }
              .main2__textblog3_1_img,
              .main2__textblog3_2_img  {
                width: 356px;
                height: 235px;
              }
  .sidebar {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
  }
      .sidebar__1,
      .sidebar__2,
      .sidebar__3,
      .sidebar__4 {
        width: auto;
      }
          .sidebar__2_img_svg {
            left: -10px;
          }
          .sidebar__2_img {
           width: 308px;
          }
          .sidebar__2_img_img {
            left: -10px;
          }
      .sidebar__3 {
        width: 356px;
        height: 248px;
      }
          .sidebar__3_img {
            top: -20px;
          }
              .sidebar__3_text_p {
                left: -20px;
              }
      .sidebar__4_block  {
        width: 305px;
        height: 248px;
      }
  footer {
    display: flex;
    width: 768px;
    padding: 35px 20px 23px 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 26px;
    flex-shrink: 0;
  }
      .footer__blok {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 26px;
      }
          .footer__blok_links {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 30px;
          }
          .footer__blok_mail {
            display: flex;
            width: 450px;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
          }
              .footer__blok_mail_e-mail {
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               gap: 8px;
              }
                  .footer__blok_mail_e-mail_input {
                    width: 384px;
                  }
                      .footer__blok_mail_e-mail_input_put {
                        width: 316px;
                      }
      .footer__info {
       display:flex;
       flex-direction: row;
       align-items: flex-start;
       gap: 48px;
      }
  }
@media screen and (min-width:1024px) {
  body {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 1024px;
  }
  header {
    grid-column: 1/ span 12;
    padding: 0px 32px;
    height: 76px;
  }
      .header__con {
        display: none;
      }
      .header__con2 {
        display: inline-flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }
      header {
        grid-area: 1/ span 12;
        padding: 0px 32px;
        height: 76px;
      }
          .header__con {
            display: none;
          }
          .header__con2 {
            display: inline-flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
          }
  main {
    grid-column: 1/ span 9;
    width: 714px;
    padding-left: 32px;
  }
      .main__img {
        width: 714px;
        height: 331px;
      }
          .main__coment_img {
            width: 58.898px;
            height: 36px;
            flex-shrink: 0;
          }
      .main2__textblog3 {
        gap: 24px;
      }
          .main2__textblog3_1_img,
          .main2__textblog3_2_img {
            width: 345px;
          }
  .sidebar {
    grid-column: 10 / span 3;
    width: 222px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px;
    margin-right: 32px;
  } 
      .sidebar__1 {
        width: 222px;
        height: 495px;
      }
          .sidebar__1_svg1 {
            width: 107.51px;
            height: 93.022px;
            flex-shrink: 0;
            left: 59px;
          }
          .sidebar__1_svg2 {
            width: 130px;
            height: 105px;
            flex-shrink: 0;
            left: 28px;
            top: -40px;
          }
          .sidebar__1_info  {
            width: 182px;
            top: -170px;
            left: 20px;
          }
          .sidebar__1_info_img {
            width: 181px
          }
          .sidebar__1_info_button {
            width: 182px;
          }
      .sidebar__2 {
        width: 174px;
        justify-content: center;
        flex-shrink: 0;
      }
          .sidebar__2_img {
            width: 174px;
          }
              .sidebar__2_img_svg {
                left: -10px;
              }
              .sidebar__2_img_img {
                left: -80px;
              }
          .sidebar__2_text {
            width: 174px;
          }
          .sidebar__2_text_line_svg {
            width: 174px;
          }
      .sidebar__3 {
        width: 222px;
        height: 280px;
      }
          .sidebar__3_img {
            top: -50px;
            left: -70px;
          }      
              .sidebar__3_img_1 {
                width: 112px;
                height: 146px;
              }
              .sidebar__3_img_2 {
                width: 167px;
                height: 159px;
                flex-shrink: 0;
              }
              .sidebar__3_img_3 {
                width: 79px;
                height: 120px;
                left: -60px;
              }
                  .sidebar__3_text_p {
                    left:50px;
                    top: -5px;
                  }

      .sidebar__4 {
        width: 174px;
        height: 260px;
        flex-shrink: 0;
      }
          .sidebar__4_block_text1 {
            width: 130px;
          }
          .sidebar__4_img_img1 {
            width: 88px;
            height: 107px;
            flex-shrink: 0;
            left: 130px;
          }
          .sidebar__4_img_img2 {
            width: 108px;
            height: 123px;
            flex-shrink: 0;
            left: 60px;
            bottom: -40px;
          }

      footer {
        grid-column: 1/ span 12;
        width: auto;
        padding-left: 38px;
        padding-top: 40px;
      }
          .footer__blok {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            flex-shrink: 0;
          }
              .footer__blok_links {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 30px;
              }
              .footer__blok_mail {
                display: flex;
                width: 450px;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
                flex-shrink: 0;
              }
                      .footer__blok_mail_e-mail_input {
                        width: 384px;
                      }
                          .footer__blok_mail_e-mail_input_put {
                            width: 316px;
                          }
            .footer__info {
              display:flex;
              flex-direction: row;
              align-items: flex-start;
              gap: 48px;
             }
}
@media screen and (min-width:1440px) {
  body {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 1440px;
  }
    header {
      grid-column: 1/ span 12;
      padding: 0px 120px;
      height: 76px;
    }
        .header__con {
          display: none;
        }
        .header__con2 {
          display: inline-flex;
          width: 1200px;
          align-items: center;
          justify-content: space-between;
        }
    main {
      grid-column: 1 / span 9;
      margin-left: 120px;
      padding: 0px;
      width: 690px;
      grid-area: 24px;
    }
        .main__svg {
          display: block;
          position: absolute;
          z-index: 0;
          right: 0px;
          top: 2330px;
        }
            .main__img {
              width: 690px;
              height: 331px; 
            }
                .main__maintenance_list_item2 {
                  display: flex;
                  flex-direction: column;
                  gap: 4px;
                  align-self: stretch;
                }
                    .main__maintenance_list_item2_h1 {
                      margin-left: 50px;
                      color: #333;
                      text-decoration-line: underline;
                    }
                    .main__maintenance_list_item2_h2 {
                      margin-left: 70px;
                      color: #333;
                      text-decoration-line: underline;
                    }
                    .main__maintenance_list_item2_h3 {
                      margin-left: 90px;
                      color: #333;
                      text-decoration-line: underline;
                    }
                .main__maintanance_list_item2_1,
                .main__maintenance_list_item3 {
                  display: flex;
                }
            .main__coment_img {
              width: 55.776px;
              height: 36px;
              flex-shrink: 0;
            }
        .main2__textblog3 {
          gap: 24px;
        }
            .main2__textblog3_1,
            .main2__textblog2_2 {
              gap: 24px;
            }
                .main2__textblog3_1_img,
                .main2__textblog3_2_img  {
                    width: 333px;
                    height: 235px;
                }
      .sidebar {
        grid-column: 10 / span 3;
        width: 282px;
        gap: 30px;
        margin-right: 120px;
        padding: 0px;
      }
          .sidebar__1 {
            width: 282px;
          } 
              .sidebar__1_svg1  {
                width: 145px;
                height: 125px;
                flex-shrink: 0;
                transform: rotate(-50deg);
              }
              .sidebar__1_svg2 {
                width: 170px;
                height: 130px;
                flex-shrink: 0;
                top: -60px;
                left: 30px;
              }
              .sidebar__1_info {
                width: 234px;
                top: -225px;
                left: 24px;

              }
                  .sidebar__1_info_img {
                    width: 234px;
                  }
                  .sidebar__1_info_button {
                    width: 234px;
                  }
          .sidebar__2 {
            width: 234px;
          }
              .sidebar__2_img_svg {
                left: -35px;
                top: -5px;
              }
                  .sidebar__2_text_line_svg {
                    width: 250px;
                  }
              .sidebar__2_text {
                width: 250px;
              }
          .sidebar__3 {
            width: 282px;
            height: 280px;
          }
              .sidebar__3_text_p {
                width: 100px;
                left: -10px;
                top: 10px;
              }
              .sidebar__3_img {
                top: -50px;
                left: -25px;
              }
          .sidebar__4 {
            width: 220px;
            height: 240px;
            padding:32px;
          }
              .sidebar__4_img_img1 {
                width: 112px;
                height: 106px;
                flex-shrink: 0;
                left: 160px;
                bottom: 10px;
              }
              .sidebar__4_img_img2  {
                width: 137px;
                height: 121px;
                flex-shrink: 0;
                left: 80px;
                bottom: -25px;
              }
                  .sidebar__4_block_text1 {
                    width: 150px;
                  }
      .main__line {
        grid-column: 1 / span 12;
        display: block;
        width: 1200px;
        height: 0px;
        flex-shrink: 0;
        stroke-width: 1px;
        stroke: #DEDEDE;;
        margin-top: 48px;
        padding-left: 120px;
      }
      .main3 {
        grid-column: 1 / span 12;
        display: flex;
        flex-direction: row;
        margin-top: 72px;
        padding: 0 120px;
        justify-content: space-between;
      }
          .main3__block {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            width: 348px;
            height: 280px;
          }
              .main3__block_text {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
              }
                  .main3__block_text_h {
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 56px;
                  }
                  .main3__block_text_p {
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;
                  }
              .main3__text_button {
                display: flex;
                padding: 20px 24px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 4px;
                border-color: #16C8BB;
                border: 0px;
                background: var(--button-1, #16C8BB);
                color: var(--text-white, #FFF);
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
          .main3__img {
            width: 520px;
            height: 330px;
            flex-shrink: 0;
          }
          .main3__svg {
            position: absolute;
            right: 0px;
          }
    .svg__bottom {
      grid-column: 1 / span 12;
      display: block;
      margin-top: 25px;
    }
  footer {
    grid-column: 1/ span 12;
    display: flex;
    flex-direction: column;
    padding: 40px 120px 17px 120px;
    margin-top: -3px;
  }
      .footer__blok {
        display: flex;
        width: 1200px;
        justify-content: space-between;
        align-items: flex-start;;
      }
          .footer__blok_links {
            display: flex;
            align-items: flex-start;
            gap: 93px;
          }
          .footer__blok_mail {
           display: flex;
           width: 486px;
           flex-direction: column;
           align-items: flex-start;
           gap: 8px;
           flex-shrink: 0;
          }
              .footer__blok_mail_e-mail {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
              }
                  .footer__blok_mail_e-mail_input {
                    width: 384px;
                    height: 48px;
                  }
                      .footer__blok_mail_e-mail_input_put {
                       width: 316px;
                      }
      .footer__info {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 48px;  
       }  
}