@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    font-family: Montserrat;
} 
  body {
    margin: 0;
  }
  body * {
    box-sizing: border-box;
  }
  .container {
    margin: 0 auto;
    max-width: 288px;
  }
  a {
    text-decoration: none;
  }
  h1 {
    color: var(--text-primary, #333);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
  h2 {
    align-self: stretch;
    color: var(--text-primary, #333);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: #35B3A9;
    border-radius: 4px;
    background: var(--primary-400, #35B3A9);
    color: #FFF;
    text-align: center;
  }
  button:hover {
    cursor: pointer;
  }
  header {
    border-bottom: 1px solid #dbd9d9;
  }
  .header__wrapper {
    height: 56px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logo__svg {
    width: 48px;
    height: 34px;
    flex-shrink: 0;
  }
  .nav__list {
    display: none;
  }                
  .header__button-1 {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid #FFF;
    background-color: #fff;
  }
  .header__button-1:hover {
    transform: scale(1.2);
    transition: 0.3s;
  }
  .header__button-2 {
    display: none;
  }

  main {
    margin: 0;
  }
  .main__svg {
    display: none;
  }
  .section-1__wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 0px;
    gap: 24px;
  }
  .podnavi__wrapper {
    display: inline-flex;
    justify-content: start;
    gap: 8px;
  }
  .link__display {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .podnavi__1:hover {
    transform: scaleY(1.2);
    transition: 0.5s;
    color: #2963A3;
    text-decoration: underline;  
  }
  .podnavi_size {
    color: rgba(51, 51, 51, 0.70);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: 0.25px;
    text-decoration: none;
  }
  .maintenence {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 8px;
    overflow-x: scroll hidden;
    -webkit-overflow-scrolling: touch;
  }
  .maintenence__link,
  .block__box {
    display: flex;
    flex-direction: row;
    width: max-content;
    height: max-content;
    text-wrap: nowrap;
    padding: 6px 8px;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
  }
  .maintenence__p {
    color: #333;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }
  .link3-color {
    border: 1px solid #16C8BB; 
  }
  .maintenence__link:hover {
    background-color: rgb(224, 223, 223);
    cursor: pointer;
  }
  .img__wrapper {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 1px;
    justify-content: center;
    align-items: center;
  }
  .section-2__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .section-2__block  {
    display: grid;
    grid-template-rows: 206px 278px;
    width: 288px;
    border-radius: 16px;
    border: 0px;
    background-color: #FFF;
  }
  .small-one_5,
  .small-one_6,
  .small-one_7,
  .small-one_8 {
    display: none;
  }
  .block__img  {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
  } 
  .block__box {
    background: rgba(255, 255, 255, 0.70);
  }  
  .img-1 {
    background-image: url(images/png/yaica.png);
  } 
  .img-2 {
    background-image: url(images/png/beg.png);
  } 
  .img-3 {
    background-image: url(images/png/son.png);
  }
  .img-4 {
    background-image: url(images/png/bassein.png);
  }
  .img-5 {
    background-image: url(images/png/ruki2.png);
  }
  .img-6 {
    background-image: url(images/png/babka.png);
  }
  .img-7 {
    background-image: url(images/png/babka2.png);
  }
  .img-8 {
    background-image: url(images/png/ludi.png);
  }                  
  .block__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border: 1px solid #C1C5CD;
    padding:16px;
  } 
  .text__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px
  }
  .box__1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
  }
  .avtor {
    color: #868686;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: 0.25px;
  }
  .text__p {
    -webkit-line-clamp: 3; 
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--text-primary, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
  }
  .date {
    color: #494949;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: 0.25px;                
  }
  .section-2__block:hover .text__h {
    color: #2963A3;
  }           
  .section-3__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 59px;
  }
  .section-3__button {
    width: 182px;
    padding: 12px 16px;
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
  }
  .section-3__button:hover {
    background-color:#059b91;
  }

  footer {
    background: #2963A3;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
    padding: 35px 0px;
  }
  .footer__block {
    display: flex;
    flex-direction: column;
    gap: 23px;
    flex-shrink: 0;
  }
  .block__links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }
  .links__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .block__link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .block__link:hover {
    color: #ccc7c7;
  } 
  .block__mail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    align-self: stretch;
  }
  .mail__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .mail__box_h {
    color: #FFF;
  }
  .mail__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 48px;
    border-radius: 4px;
    background: #FFF;
  }
  .input__put {
    position: relative;
    width: 220px;
    z-index: 2;
    left: 16px;
    opacity: 0,1;
    background-color: transparent;
    border:1px solid transparent;
    outline:none;
    color: var(--text-secondary, #818080);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
  }
  .input__button {
    display: none;                         
  }
  .mail__p {
    align-self: stretch;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: 0.25px;
    opacity: 0.7;
  }
  .block__social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;          
  }
  .social__wrapper {
    display: flex;
    align-items: start;
    gap: 16px;
  }
  .social__links {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 60px;
    background: #EFF5FB;
  }
  .vk {
    align-self: center;
  }
  .social__links:hover {
    transform: scale(1.5);
    transition: 0.5s;
  } 
  .footer__line {
    width: inherit;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.3;
    background: var(--text-grey, #9D9D9D);
  } 
  .footer__info {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;  
  }    
  .info__link {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7;
    text-decoration: none;
  }    
  .info__link:hover {
    color: #ccc7c7;
  } 

@media screen  and (min-width:414px) {
  .container {
    max-width: 374px;
  }
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  .header__wrapper {
    height: 72px;
  }
  .section-2__block {
    grid-template-rows: 206px 260px;
    width: 374px;
  }
  .footer__wrapper {
    padding: 35px 0px;
  }
  .mail__input {
    width: 374px;
  }
  .input__put {
    width: 310px;
  }
  .input__button {
    display: inline-flex;
    width: 64px;
    height: 48px;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid #16C8BB;
    border-radius: 4px;
    background: #16C8BB;
  }
  .input__button:hover {
    background: #059b91;
    cursor: pointer;
  }
}
@media screen and (min-width:768px) {
  .container {
    max-width: 728px;
  }
  h1 {
    font-size: 48px;
    line-height: 56px;
  }
  .header__wrapper {
    height: 76px;
  }
  .logo__svg {
    width: 51px;
    height: 36px;
    flex-shrink: 0;
  }
  .section-1__wrapper {
    gap: 30px;
    padding-top: 16px;
    padding-bottom: 23px;
  }
  .maintenence {
    flex-wrap: wrap;
  }
  .section-2__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .big-one-1,
  .big-one-2 {
    grid-template-rows: 404px 196px;
    width: 728px;
  }
  .small-one_3,
  .small-one_4,
  .small-one_5,
  .small-one_6,
  .small-one_7,
  .small-one_8 {
    display: grid;
    grid-template-rows: 206px 241px;
    width: 352px;
  }
  .footer__wrapper {
    padding-bottom: 23px;
  }
  .footer__block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .block__links {
    gap: 30px;
  }
  .block__mail {
    width: 450px;
  }
  .mail__input {
    width: 384px;
  }
  .input__put {
    width: 320px;
  }
  .footer__info {
    flex-direction: row;
    gap: 48px;
  }
  .section-3__wrapper {
    margin-top: 33px;
    margin-bottom: 55px;
  }
}
@media screen and (min-width:1024px) {
  .container {
    max-width: 960px;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .link__a,
  .link__button {
    color: var(--text-primary, #333);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0.25px;
  }
  .link__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-width: 0px;
    background-color: transparent;
  }
  .link__a:hover,
  .link__button:hover {
    color: #16C8BB;
  }
  .link__button:hover 
    .link__svg path {
      color: #16C8BB;
      stroke: #16C8BB;
    }
  .link__button:active
    .link__svg path {
    transform: rotate(180deg);
  }
  .header__button-1 {
    display: none;
  }
  .header__button-2 {
    display: inline-flex;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    border: 1px #E3F5F5;
    border-radius: 4px;
    background: #E3F5F5;
    color: var(--main-03-b-2-a-5, #03B2A5);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .header__button-2:hover {
    background-color: #a1e2de;
  }
  .big-one-1,
  .big-one-2 {
    grid-template-rows: 260px 240px;
    width: 468px;
  }
  .small-one_3,
  .small-one_4,
  .small-one_5,
  .small-one_6,
  .small-one_7,
  .small-one_8 {
    grid-template-rows: 206px 253px;
    width: 304px;
  }
  .section-3__wrapper {
    margin-top: 35px;
    margin-bottom: 60px;
  }
  .footer__wrapper {
    padding-top: 40px;
    padding-bottom: 17px;
  }
}
@media screen and (min-width:1440px) {
  .container {
    max-width: 1200px;
  }
  .nav__list  {
  gap: 30px;
  }
  .big-one-1,
  .big-one-2 {
    width: 588px;
  }
  .img-1 {
    background-position: bottom;
  }
  .small-one_3,
  .small-one_4,
  .small-one_5,
  .small-one_6,
  .small-one_7,
  .small-one_8  {
    width: 384px;
  }
  .section-3__wrapper {
    margin-top: 56px;
    margin-bottom: 96px;
  } 
  .block__links {
    gap: 93px;
  } 
}