@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Phudu:wght@300&display=swap');
* {
    font-family: Montserrat;
 }
  body {
  margin: 0;
  }
  body * {
    box-sizing: border-box;
  }
  .container,
  .container-2 {
    margin: 0 auto;
    max-width: 288px;
  }
  a {
    text-decoration: none;
  }
  h1 {
    color: var(--text-primary, #333);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }
  h2 {
    color: var(--text-primary, #333);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
  }
  h3 {
    color: var(--text-primary, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  p {
    align-self: stretch;
    color: var(--text-primary, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: #35B3A9;
    border-radius: 4px;
    background: var(--primary-400, #35B3A9);
    color: #FFF;
    text-align: center;
  }
  button:hover {
    cursor: pointer;
  }
  header {
    border-bottom: 1px solid #dbd9d9;
  }
  .header__wrapper {
    height: 56px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logo__svg {
    width: 48px;
    height: 34px;
    flex-shrink: 0;
  }
  .nav__list {
    display: none;
  }                
  .header__button-1 {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid #FFF;
    background-color: #fff;
  }
  .header__button-1:hover {
    transform: scale(1.2);
    transition: 0.3s;
  }
  .header__button-2 {
    display: none;
  }

  main {
    margin: 0;
  }
  .main__svg {
    display: none;
  }
  .section-1__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .podnavi {
    margin-top: 16px;
    display: inline-flex;
    justify-content: start;
    gap: 8px;
    width: 100%;
  }
  .podnavi__display {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .podnavi__1:hover,
  .podnavi__2:hover {
    transform: scaleY(1.2);
    transition: 0.5s;
    color: #2963A3;
    text-decoration: underline;
  }
  .podnavi__size {
    color: rgba(51, 51, 51, 0.70);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    text-decoration: none;
  }
  .podnavi__3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .title__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .title {
    margin-top: 16px;
  }
  .title__avtor {
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
  }
  .avtor,
  .avtor__silka {
    color: #494949;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
  }
  .avtor__silka {
    color: #2963A3;
    text-decoration: none;
  }
  .avtor__silka:hover {
  transform: scale(1.3);
  transition: 0.5s;
  text-decoration: underline;
  }
  .section-1__img {
    width: 100%;
    height: 160px;
  }
  .section-1__maintenance {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .maintenance__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .maintenance__item {
    display: flex;
    align-items: start;
    gap: 8px;
    align-self: stretch;
    flex: 1 0 0;
    color: #333;
  }
  .underline {
    text-decoration: underline;
  }
  .item__p {
    flex: 1 0 0;
  }
  .item__svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }
  .item2,
  .item3  {
    display: none;
  }       
  .section-1__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .section-1__coment {
    margin-top: 26px;
    display: block;
    padding: 16px;
    border-radius: 16px;
    background-color: #F3F7FE;
  }
  .coment__img {
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 22.639px;
    height: 36px;
    flex-shrink: 0;
  }
  .coment__text {
    position: relative;
    top: -30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .coment__text-1 {
    z-index: 2;
    font-style: italic;
    font-weight: 400;
  }
  .coment__text-2 {
    font-weight: 700;
  }
  .section-1__img-2_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .section-1__img-2 {
    width: 100%;
    height: 160px;
  }
  .img-1__text {
    align-self: stretch;
    color: #868686;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.25px;
  }
  .section-2__wrapper {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    }
  .poscriptum {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 288px;
    height: 168px;
  }
  .poscriptum__svg {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
  }
  .poscriptum__text {
    position: relative;
    top: -168px;
    left: 0px;
    z-index: 2;
    color: var(--text-primary, #333);
    text-align: center;
    font-style: italic;
    font-weight: 400;
  }
  .textblog {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch; 
  }
  .textblog__img {
    width: 100%;
    align-self: stretch;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .img-wooman {
    height: 380px;
    background-image: url(images/png/woomaninhat.png);
  }
  .exercize  {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    border-radius: 16px;
  }
  .ex1 {
    background: var(--status-yellowe-white, #FEFAEC);
  }
  .ex2 {
    background: var(--status-orange-white, #FFF3EB);
  }
  .ex3 {
    background: rgba(3, 178, 165, 0.10);
  }
  .img-ruki {
    height: 160px;
    background-image: url(images/png/Rectangle.png);
  }
  .tb3 {
    gap: 8px;
  }
  .img-stul,
  .img-sumerki {
    height: 235px;
  }
  .img-stul {
    background-image: url(images/png/chair.png);
  }
  .img-sumerki {
    background-image: url(images/png/look.png);
  }
  .section-2__links_wrapper {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
    }
  .section-2__links {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
  .section-2__link {
    color: #2963A3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
  }
  .main__line {
    display: none;
  }
  .section-3 {
    display: none;
  }
  .buttom-svg__wrapper {
    display: none;
  }
  .sidebar {
    margin-bottom: 60px;
  }
  .sidebar__container {
    margin: 0 auto;
    max-width: 288px;
  }
  .sidebar__wrapper {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .sidebar-1 {
    display: block;
    height: 512px;
    flex-shrink: 0;
    padding: 24px;
    border-radius: 16px;
    background: var(--blue-b-95, #E6F0FD);
  } 
  .sidebar-1__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .sidebar-1__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 206px;
    overflow: hidden;
  }
  .sidebar-1__svg1 {
    width: 152.738px;
    height: 132.155px;
    flex-shrink: 0;
    z-index: 1;
  }
  .sidebar-1__svg2 {
    position: relative;
    top: -100px;
    width: 198.729px;
    height: 200.895px;
    flex-shrink: 0;
    left: -20px;
    z-index: 2;
  }
  .sidebar-1__img {
    position: relative;
    top: -310px;
    left: -7px;
    z-index: 3;
  }
  .sidebar-1__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .sidebar-1__h {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    flex-shrink: 0;
    text-align: center;
  }
  .sidebar-1__p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
  }
  .sidebar-1__button {
    display: flex;
    width: 239px;
    height: max-content;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border:  1px solid #35B3A9;
    border-radius: 4px;
    background:  #35B3A9;
  }
  .sidebar-1__button:hover {
    background-color: #059b91;
    transform: scaleY(1.1);
    transition: .2s;
  }
  .button__p {
    color: #FFF;
    text-align: center;
    font-weight: 700;
  }
  .sidebar-2 {
    height: 481px;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid #DEDEDE;
    background: #FFF
  }
  .sidebar-2__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .sidebar-2__info {
    display: flex;
    flex-direction: row;
  }
  .sidebar-2__box {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    z-index: 2;
  }
  .sidebar-2__svg-wrap {
    display: flex;
    flex-direction: row;
    padding: 0px 6px;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    background: rgba(243, 244, 248, 0.70);
  }
  .sidebar-2__svg-wrap:hover {
    transform: scale(1.2);
    transition: .5s;
  }
  .svg-wrap__p {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.25px;
  }
  .sidebar-2__svg {
    width: 16px;
    height: 24px;
  }
  .sidebar-2__img {
    position: relative;
    left: -45px;
    z-index: 1;
    border-radius: 100px;
  }
  .sidebar-2__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    justify-content: center;
  } 
  .sidebar-2__name {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
  }
  .sidebar-2__name-1 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }
  .sidebar-2__proff {
    text-align: center;
    font-weight: 600;
  }
  .sidebar-2__experience {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
  }
  .sidebar-2__old {
    color: var(--neutrals-n-66, #A2A7B1);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; 
  }
  .text__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  } 
  .text__info-1 {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 4px;
    align-self: stretch; 
  }
  .s2 {
    flex: 1 0 0;
    text-align: start;
  }
  .text__info-svg {
    flex-shrink: 0;
  }
  .sidebar-3 {
    height: 292px;
    background-color:  #2963a3;
    overflow: hidden;
    border-radius: 16px;
  }
  .sidebar-3__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar-3__text {
    display:flex;
    height: 192px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url(images/png/korob.png);
    background-size: cover;
    box-shadow: inset 0px 50px 40px -30px  white;
  }
  .sidebar-3__p {
    margin-top: 70px;
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;;
  }
  .sidebar-3__img {
    position: relative;
    top: -80px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .sidebar-3__img-1 {
    position: relative;
    z-index: 2;
    left: 35px;
    bottom: -25px;
    width: 128px;
    height: 166px;
    transform: rotate(90deg);
    flex-shrink: 0;
  }
  .sidebar-3__img-2 {
    position: relative;
    z-index: 1;
    left: 15px;
    bottom: -35px;
    width: 190px;
    height: 181px;
    flex-shrink: 0;
  }
  .sidebar-3__img-3 {
    position: relative;
    z-index: 2;
    width: 90px;
    height: 136px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    left: -70px;
    bottom: -30px;
  }
  .sidebar-4 {
    height: 252px;
    padding: 16px;
    border-radius: 24px;
    border: 1px solid #DEDEDE;
    background: #FFF;
    overflow: hidden;
  }
  .sidebar-4__block {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .sidebar-4__h {
    display: flex;
    align-items: flex-end;
    gap: 4px;
  }
  .sidebar-4__h-1 {
    width: 17px;
    color: #2963A3;
  }
  .sidebar-4__h-2 {
    color: #2963A3;
  }
  .sidebar-4__p {
    align-self: stretch;
    color: var(--primery-b-10, #011632);
    font-family: Open Sans !important;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
  }
  .sidebar-4__button {
    width: 108px;
    z-index: 2;
  }
  .sidebar-4__img {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    position: relative;
    top: -65px;
  }
  .sidebar-4__img-1 {
    position: relative;
    z-index: 1;
    width: 120px;
    height: 115px;
    flex-shrink: 0;
    left: 80px;
    bottom: 5px;
  }
  .sidebar-4__img-2 {
    position: relative;
    z-index: 2;
    width: 105px;
    height: 94px;
    flex-shrink: 0;
    left: 15px;
    bottom: 0px;
  }                
  footer {
    background: #2963A3;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 20px;
    padding: 35px 0px;
  }
  .footer__block {
    display: flex;
    flex-direction: column;
    gap: 23px;
    flex-shrink: 0;
  }
  .block__links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }
  .links__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .block__link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  .block__link:hover {
    color: #ccc7c7;
  } 
  .block__mail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    align-self: stretch;
  }
  .mail__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }
  .mail__box_h {
    color: #FFF;
  }
  .mail__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 48px;
    border-radius: 4px;
    background: #FFF;
  }
  .input__put {
    position: relative;
    width: 220px;
    z-index: 2;
    left: 16px;
    opacity: 0,1;
    background-color: transparent;
    border:1px solid transparent;
    outline:none;
    color: var(--text-secondary, #818080);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
  }
  .input__button {
    display: none;                         
  }
  .mail__p {
    align-self: stretch;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
    letter-spacing: 0.25px;
    opacity: 0.7;
  }
  .block__social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;          
  }
  .social__wrapper {
    display: flex;
    align-items: start;
    gap: 16px;
  }
  .social__links {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 60px;
    background: #EFF5FB;
  }
  .vk {
    align-self: center;
  }
  .social__links:hover {
    transform: scale(1.5);
    transition: 0.5s;
  } 
  .footer__line {
    width: inherit;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.3;
    background: var(--text-grey, #9D9D9D);
  } 
  .footer__info {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;  
  }    
  .info__link {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7;
    text-decoration: none;
  }    
  .info__link:hover {
    color: #ccc7c7;
  } 
@media  screen and (min-width:414px)  {
  .container,
  .container-2 {
    max-width: 374px;
  }
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .header__wrapper {
    height: 72px;
  }
  .section-1__wrapper {
    gap: 24px;
  }
  .title {
    margin-top: 8px;
  }
  .section-1__img {
    height: 207px;
  }
  .section-1__coment {
    margin-top: 0px;
  }
  .section-1__img-2 {
    height: 207px;
  }
  .section-2__wrapper {
    gap: 24px;
  }
  .poscriptum {
    width: 374px;
  }
  .poscriptum__text {
    top: -150px; 
    }
  .img-ruki {
    height: 207px;
  }
  .sidebar {
    margin-bottom: 127px;
  }
  .sidebar__wrapper {
    margin-top: 56px;
  }
  .sidebar__container {
    max-width: 374px;
  }
  .sidebar-1 {
    padding: 32px;
  }
  .sidebar-1__button {
    width: 310px;
  }
  .sidebar-2__box {
    position: relative;
    left: -50px;
  }
  .sidebar-2__img {
    left: -50px;
  }
  .sidebar-3__img {
    left: 20px;
  }
  .sidebar-4 {
    padding: 24px;
  }
  .sidebar-4__h-3 {
    font-size: 24px;
    line-height: 32px
  }
  .sidebar-4__button {
    width: 108px;
  }
  .sidebar-4__img {
    top: -80px;
  }
  .sidebar-4__img-1 {
    width: 140px;
    height: 135px;
  }
  .sidebar-4__img-2 {
    width: 125px;
    height: 114px;
  }
  .footer__wrapper {
    padding: 35px 0px;
  }
  .mail__box_h {
    font-size: 18px;
    line-height: 26px;
  }
  .mail__input {
    width: 374px;
  }
  .input__put {
    width: 310px;
  }
  .input__button {
    display: inline-flex;
    width: 64px;
    height: 48px;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid #16C8BB;
    border-radius: 4px;
    background: #16C8BB;
  }
  .input__button:hover {
    background: #059b91;
    cursor: pointer;
  }  
}
@media screen and (min-width:768px)  {
  .container,
  .container-2 {
    max-width: 728px;
  }
  .header__wrapper {
    height: 76px;
  }
  h1 {
    font-size: 48px;
    line-height: 56px;
  }
  .header__wrapper {
    height: 76px;
  }
  .title__wrapper {
    gap: 16px;
  }
  .title {
    margin-top: 30px;
  }
  .section-1__img {
    width: 728px;
    height: 331px;
  }
  .section-1__img-2 {
    width: 728px;
    height: 331px;
  }
  .poscriptum {
    width: 485px;
  }
  .textblog {
    flex-direction: row;
  }
  .textblog__img {
    width: 294px;
  }
  .textblog__text {
    width: 418px;
  }
  .tb3 {
    width: 356px;
    flex-direction: column;
    gap: 24px;
  }
  .img-stul,
  .img-sumerki {
    width: 356px;
  }
  .tb3__text {
    width: inherit;
  }
  .sidebar {
    margin-bottom: 63px;
  }
  .sidebar__container {
    max-width: 728px;
  }
  .sidebar__wrapper {
    margin-top: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }
  .sb_width {
    width: 356px;
  }
  .sidebar-1 {
    height: 481px;
    padding: 23px;
    margin-bottom: 20px;
  }
  .sidebar-2 {
    margin-bottom: 20px;
  }
  .sidebar-2__text {
    width: 250px;
  }
  .s2__button {
    width: 250px;
  }
  .sidebar-3 {
    height: 242px;
  }
  .sidebar-3__img {
    top: -100px;
  }
  .sidebar-4 {
    height: 242px;
  }
  .footer__wrapper {
    padding-bottom: 23px;
  }
  .footer__block {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .block__links {
    gap: 30px;
  }
  .block__mail {
    width: 450px;
  }
  .mail__input {
    width: 384px;
  }
  .input__put {
    width: 320px;
  }
  .footer__info {
    flex-direction: row;
    gap: 48px;
  }
}
@media screen and (min-width:1024px) {
  .container {
    max-width: 960px;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  .link__a,
  .link__button {
    color: var(--text-primary, #333);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0.25px;
  }
  .link__a:hover,
  .link__button:hover {
    color: #16C8BB;
  }
  .link__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-width: 0px;
    background-color: transparent;
  }
  .link__button:hover 
    .link__svg path {
      color: #16C8BB;
      stroke: #16C8BB;
    }
  .link__button:active
    .link__svg path {
    transform: rotate(180deg);
  }
  .header__button-1 {
    display: none;
  }
  .header__button-2 {
    display: inline-flex;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    border: 1px #E3F5F5;
    border-radius: 4px;
    background: #E3F5F5;
    color: var(--main-03-b-2-a-5, #03B2A5);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .header__button-2:hover {
    background-color: #a1e2de;
  }
  .sections__wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .anover__wrapper {
    width: 714px;
    display: flex;
    flex-direction: column;
  }
  .section-2 {
    margin-bottom: 71px;
  }
  .sidebar__container {
    max-width: 222px;
  }
  .sidebar__wrapper {
    margin-top: 72px;
    gap: 24px;
    flex-direction: column;
  }
  .sb_width {
    width: 222px;
  }
  .sidebar-1 {
    height: 495px;
    flex-shrink: 0;
    padding: 24px 20px;
    margin-bottom: 0px;
  }
  .sidebar-1__info {
    width: 181px;
    height: 145px;
  }
  .sidebar-1__svg1 {
    width: 107.51px;
    height: 93.022px;
    flex-shrink: 0;
  }
  .sidebar-1__svg2 {
    width: 130px;
    height: 135px;
    flex-shrink: 0;
    top: -60px;
  }
  .sidebar-1__img {
    width: 181px;
    height: 140px;
    flex-shrink: 0;
    top: -215px;
    left: 1px;
  }
  .sidebar-1__button {
    width: 182px;
  }
  .sidebar-2 {
    height: 530px;
    margin-bottom: 0px;
  }
  .sidebar-2__wrapper {
    width: 174px;
  }
  .sidebar-2__svg-wrap {
    position: relative;
    left: 70px;
  }
  .sidebar-2__line {
    width: inherit;
  }
  .sidebar-2__text {
    width: inherit;
  }
  .sidebar-3 {
    height: 292px;
  }
  .sidebar-3__img {
    top: -60px;
  }
  .sidebar-3__img-1 {
    width: 112px;
    height: 146px;
  }
  .sidebar-3__img-2 {
    width: 167px;
    height: 159px;
  }
  .sidebar-3__img-3 {
    width: 79px;
    height: 120px;
  }
  .sidebar-3__p {
    width: 161px;
    margin-left: 30px;
  }
  .sidebar-4 {
    height: 292px;
    padding: 24px;
  }
  .sidebar-4__p {
    width: 160px;
  }
  .sidebar-4__button {
    width: 108px;
  }
  .sidebar-4__img {
    left: 70px;
  }
  .sidebar-4__img-2 {
    left: -10px;
    top: 10px;
  }
  footer {
    grid-column: 1/ span 12;
  }
  .footer__wrapper {
    padding-top: 40px;
    padding-bottom: 17px;
  }
}
@media screen and (min-width:1440px) {
 .container {
  max-width: 1200px;
 }
 .nav__list {
  gap: 30px;
 }
 .sections__wrapper {
  gap: 228px;
 }
 .anover__wrapper {
  width: 690px;
 }
 .section-1__img,
 .section-1__img-2 {
  width: 690px;
 }
 .img-stul,
 .img-sumerki,
 .tb3__text {
  width: 333px;
 }
 .section-2__links_wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  align-self: start;
 }
 .section-2 {
  margin-bottom: 0px;
 }
 .section-2__links {
  display: flex;
  flex-direction: row;
  gap: 8px;
 }
 .section-2__link {
  color: #2963A3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
 }
 .section-2__link:hover {
  transform: scaleY(1.1);
  transition: 0.3s;
 }
 .sb_width {
  width: 282px;
 }
 .sidebar-1 {
  padding: 24px;
  height: 512px;
 }
 .sidebar-1__info {
  width: 257px;
  height: 206px;
 }
 .sidebar-1__svg1 {
  width: 152.738px;
  height: 132.155px;
 }
 .sidebar-1__svg2 {
  width: 178px;
  height: 180px;
  top: -90px;
 }
 .sidebar-1__img {
  width: 250px;
  height: 190px;
  top: -290px;
 }
 .sidebar-1__button {
  width: 234px;
 }
 .sidebar-2 {
  height: 482px;
  padding: 24px 16px;
 }
 .sidebar-2__wrapper {
  width: 250px;
 }
 .sidebar-2__svg-wrap {
  left: 40px ;
 }
 .sidebar-2__img {
  left: -60px;
 }
 .sidebar-4 {
  height: 304px;
  padding: 32px;
 }
 .sidebar-4__button {
  width: 108px;
 }
 .sidebar-4__img {
  top: -70px;
 }
 .block__links {
  gap: 93px;
 } 
  .main__svg {
    display: block;
    position: absolute;
    top: 2320px;
    right: 0px;
  }
  .main__line {
    display: flex;
    justify-content: center;
    margin-top: 48px;
  }
  .section-3 {
    display: block;
  }
  .section-3__wrapper {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
  }
  .section-3__block {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 348px;
    height: 280px;
  }
  .section-3__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .section-3__p {
    font-size: 18px;
    font-weight: 400px;
  }
  .section-3__button {
    width: 238px;
    height: 60px;
  }
  .section-3__button_p {
    color: #fff;
    font-weight: 700;
  }
  .section-3__svg {
    position: absolute;
    right: 0px;
  }
  .buttom-svg__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
}
